<div class="row">
  <div class="col-sm-6 col-md-6 col-xs-12">
    <a class="thumbnail text-center" href="Camp">
      <img src="/images/camp.jpg">
      <div class="caption">
        <h2>CAMP</h2>
        <p>The ultimate way of learning English</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-6 col-xs-12">
    <a class="thumbnail text-center" href="OPT">
      <img src="/images/opt.jpg">
      <div class="caption">
        <h2>Oral Placement Test</h2>
        <p>Know your speaking level in 15 minutes</p>
      </div>
    </a>
  </div>
</div>