<div class="row"><div class="col-md-6 col-md-offset-3">
    <div class="list-group">
        <% items.forEach(function(i){ %>
        <a href='<%= i.href %>' class="list-group-item">
            <span class="glyphicon <%= i.isMD ? 'glyphicon-file' : 'glyphicon-folder-open'%>"><span> <span class="list-title"><%= i.anchor %></span></a>
        <% }) %>
    </div>
</div></div>