body{
  background: url(/images/texture.png) repeat;
  font-family: Helvetica,Arial,"Hiragino Sans GB-W6","华文细黑",STHeiti-Medium,"微软雅黑","Microsoft YaHei",SimHei,sans-serif;
}

.panel-container{
  border-top: 7px solid #28ddb9;
  padding-bottom: 20px;
}

.panel-box{
  background-color: white;
}

.logo{
    margin: 15px 0;
    text-align: center;
}
.logo img{
    width: 180px;
}

.breadcrumb{
  background-color: white;
  text-align: center;
}

.title-container{
  text-align: center;
  margin:10px 0;
}
.title-container span{
  text-transform: uppercase;
  font-family: helvetica77BoldCondensed,Helvetica,Arial,"Hiragino Sans GB-W6","华文细黑",STHeiti-Medium,"微软雅黑","Microsoft YaHei",SimHei,sans-serif;; 
  font-size:30px;
  padding: 4px 0;
  border-bottom: 1px solid black;
}

h1{
  font-size:30px;
}
h2{
  font-size:24px;
}
h3{
  font-size:20px;
  margin:30px 0 20px 0;
}
h4{
  font-size:18px;
}

h1,h2,h3,h4{
  font-weight: bold;
}

h1,h2, .btn{
  font-family: helvetica77BoldCondensed,Helvetica,Arial,"Hiragino Sans GB-W6","华文细黑",STHeiti-Medium,"微软雅黑","Microsoft YaHei",SimHei,sans-serif;;
}

h3, h4{
  font-family: Georgia,Times,"Times New Roman",serif
}

.main{
  padding:0 20px;
}

.list-group-item{
  font-size:18px;
  padding:10px;
}
.list-title{
  font-family: Georgia,Times,"Times New Roman",serif
}