.header{  
    border-bottom: 1px solid black;
    height: 60px;
}

.logo{
    margin: 15px 0 0 20px;
}
.logo img{
    width: 180px;
}
.logo-sub{
    font-family: helvetica77BoldCondensed,Arial,sans-serif;
    color: #aaa;
    font-size:12px;
}

h1,h2,h3, .btn{
    text-transform: uppercase;
    font-family: helvetica77BoldCondensed,Arial,sans-serif;
}

.btn{
    padding:10px 40px;
}

