<div class="row">
  <div class="col-sm-6 col-md-6 col-xs-12">
    <a class="thumbnail text-center" href="/zh/%e8%8b%b1%e8%af%ad%e9%9b%86%e8%ae%ad%e8%90%a5/">
      <img src="/images/camp.jpg">
      <div class="caption">
        <h2>英孚英语集训营</h2>
        <p>距离你心仪的企业只有28天的距离</p>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-6 col-xs-12">
    <a class="thumbnail text-center" href="/zh/%E5%9C%A8%E7%BA%BF%E8%8B%B1%E8%AF%AD%E5%8F%A3%E8%AF%AD%E8%AF%84%E4%BC%B0/">
      <img src="/images/opt.jpg">
      <div class="caption">
        <h2>在线英语口语评估</h2>
        <p>15分钟轻松测试英语口语</p>
      </div>
    </a>
  </div>
</div>